
<div class="gallery-container">
    <% if (item.photos.length){ %>
        <% item.photos.forEach(function(photo){ %>
            <div class="picture-container">
                <a href="#" data-featherlight="<%- photo %>">
                    <img src="<%- photo %>" class="img-thumbnail" />
                </a>
            </div>
        <% }); %>
    <% } %>
</div>